*{
        text-transform: capitalize;
        scroll-behavior: "smooth";
}

a{
        text-decoration: none;
        color: black;
}
a:hover{
        color: #006e67;
}
li{
        list-style: none;
        margin-top: 10px;
  
}
.LogoIcon{
        /* font-family: 'The Nautigal', cursive; */
        font-family: 'Dancing Script', cursive;
        font-weight: 700;
        cursor: pointer;
}


.signBttn
{
        font-size: 15px ;
        font-weight: 500;
        color: #088178;
        border: 2px solid #088178;
        border-radius: 5px;
        padding: 8px 15px;
}
.signBttn:hover{
        background-color: #088178;
        color: white;
}


.sound {
        word-spacing: 5px;

}

.sound span {
        font-size: 18px;
        font-weight: 400;
}

 .sound .off {
         color: #FD2155;
         font-weight: 400;
         font-size: 18px;
         cursor: pointer;
 }

 .sound .fa-soundcloud {
         color: #FD2155;
         font-size: 18px;
 }

.navBar
{
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.LogoIcon 
{
        font-size: 25px;
        font-weight: 700;
        color: #130f40;
}

.LogoIcon i
{
        color: #1261a0;
}

.navBar ul li a:hover{
        color: #088178 !important;

}



/* Slider */
.sliderSec{
        position: relative;
}
.sliderSec .trend
{
        font-size: 45px;
}
.sliderSec .collec
{
        font-size: 60px;
        color: #d77f7a;
        font-weight: 700;
}

.sliderText2 {
        color: #088178 !important;
}
.sliderText3 {
        color: #63a2c1 !important;
}

.sliderSec .prag
{
        font-weight: 400;
        color: #465b52;
}

.sliderBtn {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 20px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        color: #006e67;
        font-weight: 700;
}

.sliderBtn:after {
        content: "";
        background-color: #C1E8D7;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
}

.sliderBtn2:after
{
        background-color: #fce1bd !important;
}
.sliderBtn3:after
{
        background-color: #fbcbcd !important;
}

.prevBtn{
        background-color: #006e67;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px;
        position: absolute;
        top: 50%;
        left:  -7%;
}

.nextBtn{
        background-color: #006e67;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 7px;
        position: absolute;
        top: 50%;
        left: 103%;
}

/* End of Slider */

/* features */
.features .featureCard {
        /* width: 600px; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.caredParag
{
        background-color: #fce1bd;
        border-radius: 5px;
        padding: 5px;
        color: #006e67;
        font-weight: 600;
}
.caredParag2
{
        background-color: #feb8af;
         border-radius: 5px;
         padding: 5px;
         color: #006e67;
         font-weight: 600;
         /* margin-top: 60px; */
}
.caredParag3
{
        background-color: #e8dff9;
         border-radius: 5px;
         padding: 5px;
         color: #006e67;
         font-weight: 600;
         /* margin-top: 60px; */
}
.caredParag4
{
        background-color: #cce0ff;
         border-radius: 5px;
         padding: 5px;
         color: #006e67;
         font-weight: 600;
         /* margin-top: 60px; */
}
.caredParag5
{
        background-color: #ffbc98;
         border-radius: 5px;
         padding: 5px;
         color: #006e67;
         font-weight: 600;
         /* margin-top: 60px; */
}
.caredParag6
{
        background-color: #fdd27c;
                border-radius: 5px;
                padding: 5px;
                color: #006e67;
                font-weight: 600;
}


/* End of features */

/* collection */
.collecBtn
{
        border: none;
        background-color: #fce1bd;
        color: #006e67;
        font-weight: 600;
        padding: 8px 25px;
        border-radius: 5px ;
}

.collecBtn2{
        border: none;
        /* background-color: #fce1bd; */
        color: #006e67;
        font-weight: 600;
        padding: 8px 25px;
        border-radius: 5px;
        margin-left: 10px;
}
.collecBtn2:hover{
        background-color: #fce1bd;
}

.collection .collecCard
{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 1px solid #006e67;
        border-radius: 20px;
        position: relative;
}
.collection .collecCard img{
        width: 280px;
        height: 280px;
        border-radius: 20px;
}

.collection .collecCard .collecReview
{
        color:#ffb300 ;
        font-size: 14px;
}

.collection .collecCard .collecPrice
{
        color: #006e67;
        font-weight: 700;
        font-size: 20px;
}

.collection .collecCard .collecTag{
        position: absolute;
        background-color: #d77f7a;
        color: white;
        padding: 2px 12px;
        border-radius: 15px;
        top: 6%;
        left: 8%;
        font-size: 12px;
}
.collecTag2{
        position: absolute;
        background-color: #99bbad;
        color: white;
        padding: 2px 12px;
        border-radius: 15px;
        top: 6%;
        left: 8%;
        font-size: 12px;
}
.collecTag3{
        position: absolute;
        background-color: #ffab73;
        color: white;
        padding: 2px 12px;
        border-radius: 15px;
        top: 6%;
        left: 8%;
        font-size: 12px;
}
.collecTag4{
        position: absolute;
        background-color: #a1cae2;
        color: white;
        padding: 2px 12px;
        border-radius: 15px;
        top: 6%;
        left: 8%;
        font-size: 12px;
}
.collecTag5{
        position: absolute;
        background-color: #ff75a0;
        color: white;
        padding: 2px 12px;
        border-radius: 15px;
        top: 6%;
        left: 8%;
        font-size: 12px;
}

.collecIcons {
        color: #006e67;
        position: absolute;
        top: 30%;
        left: 30%;
        transition: .5s ease;
        opacity: 0;

}
.collection .collecCard:hover .collecIcons {
        opacity: 1;
}
.collecIcons .icon {
        background-color: #e8f6ea;
        padding: 7px;
        border-radius: 50%;
}
/* End of collection */

 /* Catagories */

.catagories .catagParag{
        color: #006e67;
        font-size: 25px;
        font-weight: 600;
}
.catagories .catagParag span{
        color: black;
}

.catagories .catagCard
{
        border: 1px solid #006e67;
        border-radius: 15px;
}

.catagories .catagCard:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.catagories .catagCard img 
{
        border-radius: 15px;
}
.catagories .catagCard h6 {
        cursor: pointer;
}
.catagories .catagCard h6:hover{
        color: #006e67;
}
 /* End of Catagories */

/* offers */
.offers .offerBg {
        position: relative;
}
.offers .offerBg .offerText
{
        position: absolute;
        top: 30%;
}
.offers .offerBg .offerlink
{
        color:  #006e67;
}
.offers .offerBg .offerlink i
{
        font-size: 12px;
        margin-left: 5px;
}
/* End of offers */

/* countdown */
.countDown {
        display: flex;
        justify-content: space-around;
        text-align: center;
}

.day,
.hour,
.minute,
.second {
        font-size: 25px;
        background-color: #006e67;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;


}
.day2,
.hour2,
.minute2,
.second2 {
        font-size: 25px;
        background-color: #006e67;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;


}
.countDownSec{
        position: relative;
        padding: 10px;
}
.countDownSec .countText{
        position: absolute;
        top: 8%;
        margin-left: 20px;
}
.countDownSec .countText h4 {
        color: #006e67;
        font-size: 35px;

}
.countDownSec .countText .countPrice {
        color: crimson;

}

.countDownSec .countBtn
{
        background: none;
        border: 1px solid #006e67 ;
        padding: 10px 20px;
        border-radius: 5px;
        color: #006e67;
        font-weight: 600;
        

}
.countDownSec .countBtn:hover
{
        background-color: #006e67;
        color: white;
}


/* End of countdown */


.scroll-top {
        position: fixed;
        bottom: 25px;
        right: 25px;
        z-index: 99;
        outline: none;
        background-color: #006e67;
        border: none;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 4px;
        color: white;
        border-radius: 50%;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, #006e67a3 -6px -2px 16px 0px;
}



/* contact */
.contact{
        background-color: #aeccc5;
        padding: 5px;
 
}

/* ==============================Contact Page================================ */
.welcome{
        background-color: #e8f6ea;
}

/* Map */
.map{
        border: 1px solid #006e67;
        border-radius: 15px ;
        width: 620px;
}
.mapouter {
        position: relative;
        text-align: right;
        width: 450px;
        height: 400px;
}

.gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 600px;
        height: 400px;
}

.gmap_iframe {
        width: 600px !important;
        height: 400px !important;
}
/* End OF Map */






/* End of contact */
@media (min-width : 320px) and (max-width : 767px) 
{
        .signBttn{
                padding: 8px 35px;
                width: 160px;
        }
    .prevBtn
    {
        left: 0%;
        top: 70%;
    }
    .nextBtn
    {
        left: 90%;
        top: 70%;
    }
    .sliderSec img {
        width: 500px;
    }

    .countDownSec .countText h4
    {
      font-size: 23px;
    }

      .countDownSec img{
        height: 500px;
      }

.day2,
.hour2,
.minute2,
.second2 {
        font-size: 17px;
}
.day,
.hour,
.minute,
.second{
        font-size: 17px;
}

.map {

        width: 460px;
}


.mapouter {

        height: 450px;
}

.gmap_canvas {

        width: 430px;

}
.gmap_iframe {
        width: 450px !important;
        height: 400px !important;
}
}

